
.dates{
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

#calendar {
    width: 70%;
    height: 40%;
    margin: auto;
}

iframe {
    height: 100%;
    width: 100%;
    border: 3px solid rgb(52, 47, 47);
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
