*{
    margin: 0;padding: 0;
}
.content{
    height: 88vh;
}

.center{
    margin-bottom: 0;
    background-color: rgb(59, 59, 59);
    text-align: center;
    font-size: 1rem;
    color: white;
    line-height: 37px;
    padding: 0.5rem;
  }