.content {
  background: linear-gradient(27deg, rgb(119 215 234), rgb(80 139 88));
}

.construction {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 17vh;
}
